<head>
	<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
	<title>Pokemon App</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">
</head>