<!DOCTYPE html>
<html>
<head>
	<title></title>

	
	<link rel="stylesheet" href="/styles/style.css">


</head>
<body>

<h1>Edit your Pokemon!!</h1>





	<form action="/pokemon/<%= index %>/edit?_method=PUT" method="POST">
		Name: <input type="text" name="name" value="<%=pokemon.name %>">
		Image: <input type="text" name="img" value="<%=pokemon.img %>">
		<button type="submit">Update</button>
	</form>

</body>
</html>