<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>




<h1>SEE ALL THE POKEMON!</h1>

<style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
}
</style>

<ul>
	<h2>Pokemon</h2>
	<% pokemon.forEach((item) =>{ %>
		<li> <%= item.name %> </li>


	<% }) %>

	<% for(let i = 0; i < pokemon.length; i++){ %>

	<li>

	 	<a href= /pokemon/<%=i%> > <%=pokemon[i].name %> </a>

	</li>

	<% } %>



</ul>






</body>
</html>