<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css">
		body {
			color: white;
			background-color: blue;
		}
	</style>
</head>
<body>
	<h1>See All The Pokemon!</h1>

	the name of each pokemon, as a list item, inside an unordered list
	<ul>
		<% allPokemon.forEach((item) => { %>
			<li><%= item.name %></li>
		<% }) %>
	</ul>

	this list should be dynamically rendered by ejs based on your data from your 'database'

</body>
</html>