<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>




<h1>SEE ALL THE POKEMON!</h1>

<style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
}
</style>

<ul>
	<h2>Pokemon</h2>
	<% pokemon.forEach((item) =>{ %>
		<li> <%= item.name %> </li>


	<%})%>



</ul>






</body>
</html>