<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>See All The Pokemon!</h1>

	<ul>
		<% allPokemon.forEach((item, i) => { %>
			<li><%= item.name %></li>
			<a href=<%="/pokemon/" + i%>>Click</a>
			<% i++ %>
		<% }) %>
	</ul>


</body>
</html>
