<!DOCTYPE html>
<style type="text/css">
	body{
		background-color: teal;
		color: maroon;
		font-family: 'Fascinate Inline', cursive;
	}


</style>

<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<body>
	<h1>See All The Pokemon!!</h1>

	<ul>
		<%for (let i = 0; i < pokemon.length; i++){%>
	<li><a href="/pokemon/<%= i %>"><%= pokemon[i].name%></a></li>
			<%}%>
	
	</ul>




</body>
</html>