<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>See All The Pokemon</h1>

	<ul>
		<% for (let i=0; i < poke.length; i++) { %>
			<div id="break">
			<li> <a href="/pokemon/<%=i%>"> <%= poke[i].name %> </a> </li>
			<form action="/pokemon/<%= i%>?_method=DELETE" method="POST">
				<button type="submit">DELETE</button>
			</form>
			<a href="pokemon/<%=i %>/edit">EDIT</a>
			</div>
		<% }%>
	</ul>

	<div>
		<a href="/pokemon/new">Add a Pokemon!</a>
	</div>

	<script src="/javascripts/app.js"></script>
</body>
</html>