<!DOCTYPE html>
<html>
<head>
	<title>Pocket Monsters</title>
    <link rel="stylesheet" media="screen" href="/static/css/style.css">
</head>
<body>
<h1>Here are the pokemon:</h1>
	<% for (i = 0; i < pokemon.length; i++) { %>
				<a href="http://localhost:3000/pokemon/<%=i%>">
				<img src="<%=pokemon[i].img%>" alt="">
				<p><%=pokemon[i].name%><p></a>
	<%}%>
</body>
</html>