<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>See All The Pokemon</h1>
	<style type="text/css">
	body {
		color: white;
		background-color: steelblue;
	}
	</style>

	<ul>
		<% poke.forEach(function(item) { %>
			<li> <%= item.name %> </li>
		<% }) %>
	</ul>
</body>
</html>