<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
</head>
<body>
<h1>
See all the Pokemon!
</h1>
	<ul>
		<% for(let i = 0; i < pocket.length; i++){ %>
			<li>
				<a href='/pokemon/<%= i %>'> <%= pocket[i].name %> </a>
			</li>
		<% } %>
	</ul>
<script src="/scripts/app.js"></script>
</body>
</html>