<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>




<h1>SEE ALL THE POKEMON!</h1>

<style type="text/css">

</style>

<ul>
	

	

	<% for(let i = 0; i < pokemon.length; i++){ %>

	<li>

	 	<a href= /pokemon/<%=i%> > <%=pokemon[i].name %> </a>

	</li>

	<% } %>



</ul>





	<script src="/javascripts/app.js"></script>
</body>
</html>