<!DOCTYPE html>
<style type="text/css">
	body{
		background-color: teal;
		color: pink;
		font-family: 'Fascinate Inline', cursive;
	}


</style>

<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
	<title></title>
</head>
<body>
	<h1>See All The Pokemon!!</h1>

	<ul>
		<% pokemon.forEach((pokemon) => { %>
				<li><%= pokemon.name%></li>
		<% }) %>
	
	</ul>




</body>
</html>