<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<h1>Add a Pokmeon!</h1>

	<form action="/pokemon/create" method="post">
		Name: <input type="text" name="name"><br><br>
		Image URL: <input type="text" name="imgURL"><br><br>
		<button type="submit">Submit</button>
	</form>



</body>
</html>