<!DOCTYPE html>
<html>
<head>
	<title>Pocket Monsters</title>
    <link rel="stylesheet" media="screen" href="/static/css/style.css">
</head>
<body>
	<h1>new pokemon page</h1>
	<form action="/pokemon/new" method="POST">
	name: <input type="text" name="name">
	<br>
	image: <input type="text" name="img">
	<button type="submit">Submit to Pokedex</button>
	</form>
</body>
</html>