<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>



<h1>Add a Pokemon!</h1>

	<form action="/pokemon/create" method="POST">
		Name: <input type="text" name="name">
		Image: <input type="text" href="" name="img">
		<button type='submit'>Submit</button>
	</form>








</body>
</html>