<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add a Pokemon</h1>
	<style type="text/css">
	body {
		color: white;
		background-color: steelblue;
	}
	</style>

	<form action="/pokemon/create" method="POST">
		Name: <input type="text" name="name">
		Image: <input type="text" href="" name="img">
		<button type="submit">Submit</button>
	</form>
	
</body>
</html>