<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<style type="text/css">
		body {
  			color: blanchedalmond;
  			background-color: steelblue;
  			font-family: 'Roboto', sans-serif;
		}
	</style>
</head>
<body>
	<h1>WHAT'S THAT POKE'MON</h1>
	<form action='/pokemon/create' method='POST'>
		Name: <input type='text' name='name'>
		Image Link: <input type="href" name="img">
		<button type='submit'>Submit</button>
	</form>

</body>
</html>