<!DOCTYPE html>
<html>
<head>
	<% include ./head %>
</head>
<body>

<h1>Gotta Catch 'Em All</h1>
<br>
<h2><%= monsters.name %></h2>
<br>
<img src=<%= monsters.img %>>
<br>
<a href='./'>back</a>
</body>
</html>