<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/static/styles/main.css">
</head>
<body>
	<h1>Gotta Catch 'Em All!</h1>
	<img src="<%= pokemon.img %>">
	<h2><%= pokemon.name %></h2>
	<a href="/pokemon">Back</a>
</body>
</html>