<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>
	<style type="text/css">
	body {
		color: white;
		background-color: steelblue;
	}
	</style>

		<h2> <%= poke.name %> </h2>
		
		<img src="<%= poke.img %>">
		
		<div>
			<a href="/pokemon">back</a>
		</div>
	
</body>
</html>