<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>




<h1>SEE ALL THE POKEMON!</h1>

<style type="text/css">



</style>


	<h1>Gotta Catch 'Em All!</h1>
	
	<h2> <%= poke.name %> </h2>

	<img src='<%= poke.img%>'>

	<a href="/pokemon">Back</a>
	

	






</body>
</html>