<!DOCTYPE html>
<html>
<head>
	<title>Pocket Monsters</title>
    <link rel="stylesheet" media="screen" href="/static/css/style.css">
</head>
<body>

<h1>Here is <%=poke.name%>:</h1>
<h3>"gotta catch 'em all"</h3>
<img src="<%=poke.img%>" alt="">
</body>
</html>