<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>Gotta Catch 'Em All</h1>

	<h2><%= allPokemon.name %></h2>

	<img class="pokeImage" src=<%= allPokemon.img %>>

	<a class="return-list-link" href="/pokemon">Back</a>

</body>
</html>
