<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<title></title>
<style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
  font-family: 'Indie Flower', cursive;
}
</style>
</head>
<body>
<h1>'Gotta Catch 'Em All!'</h1>
	<h2><%=name%></h2>
 	<img src=<%=img%>>
    <div><a href='/pokemon'>Back</a></div>
</body>
</html>