@mainColor: #FFEBCD;
@backgroundColor: #4682b4;

body {
  color: @mainColor;
  background-color: @backgroundColor;
  font-family: 'Poiret One', cursive;
  a {
  	color: @mainColor;
  	text-decoration: none;
  }
}